<div class="content_border">
  <br>
  <h2 class="text-center">Customer Info</h2>
    <%= form_for @customer, url: public_customer_path(@customer.id) do |f| %>
    <div align="center">
      <table>
        <tbody>
          <tr>
            <% if @customer.image_id? %>
              <%= image_tag @customer.image_id.url, :size => '100x100', class: 'icon' %>
            <% else %>
              <%= image_tag "noimage", :size => '100x100', class: 'icon' %>
            <% end %>
            &emsp;
            <button type="button" class="btn rounded-pill">
              &emsp;<%= f.file_field :image_id, accept: 'image/jpeg,image/gif,image/png' %>
            </button>
          </tr>
          <br>
          <br>
          <br>
          <tr>
            <td>　　　　名前(姓/名)</td>
            <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
            <td><%= f.text_field :first_name, autocomplete: "first_name" %></td>
          </tr>
          <tr>
            <td>　　　　フリガナ(セイ/メイ)</td>
            <td><%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %></td>
            <td><%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %></td>
          </tr>
          <tr>
            <td><%= f.label :email, "　　　　メールアドレス" %></td>
            <td><%= f.email_field :email, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :nickname, "　　　　ニックネーム" %></td>
            <td><%= f.text_field :nickname, autocomplete: "nickname" %></td>
          </tr>
          <tr>
            <td><%= f.label :password, "　　　　パスワード(6文字以上)" %></td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <td><%= f.label :password_confirmation,"　　　　パスワード(確認用)" %></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
      <p class="form_attention text-center"><small>
        名前、メールアドレス等の個人情報は非公開ですが、ニックネームはネットワーク上で<br>
        公開されるものなので個人情報を特定されやすいものや、公序良俗に反するものはお控<br>
        えください。詳しくはガイドラインをお読みください。</small></p>
    <br>
      <div class="actions text-center">
        <%= f.submit "変更する" %>
      </div>
    <% end %>
    <br>
</div>

<% if flash.any? %>
  <script type="text/javascript">
    <% flash.each do |key, value| %>
      <% key = "success" if key == "notice" %>
      <% key = "error" if key == "alert" %>
      toastr['<%= key %>']('<%= value %>');
    <% end %>
  </script>
<% end %>