<div align="center">
  <%= form_with(url: search_front_artists_path, local: true, method: :get, class: "search-form") do |f| %>
    <%= f.text_field :keyword, placeholder: "アーティストを検索する", class: "artistsearch_input", :size => "20" %>
    <%= button_tag type: :submit, class: "search_btn" do %>
      <%= image_tag "search.png" %>
    <% end %>
  <% end %>
  <div class="contents">
    <div class="row"></div>
  </div>
  <br>

  <div class="content_border">
    <h3 class="ranking_label"><span>Best ARTIST Ranking</span></h3>
      <% lastFavoriteArtist = 0 %>
      <% j = 1 %>
      <% @all_ranks.each.with_index(1) do |artist, i| %>
      <div class="flex">
        <div class="artist_box">
          <% if i == 1 %>
            <% lastFavoriteArtist = artist.favorite_artists.count %>
          <% end %>
          <% if artist.favorite_artists.count != lastFavoriteArtist %>
            <% j = i %>
            <div class="shadow_box">          
              <%= image_tag artist.image_id.to_s %>
            </div>
            <br>
            <br>
            <% if j == 1 %>
              <span class="best1_label">BEST <%= j %></span>
            <% elsif j == 2 %>
              <span class="best2_label">BEST <%= j %></span>
            <% else %>
              <span class="best3_label">BEST <%= j %></span>
            <% end %>
            <br>
            <br>
            <strong><%= link_to artist.name, front_artist_path(artist.id) %></strong>
            <br>
            お気に入り数：<%= artist.favorite_artists.count %>
            <% lastFavoriteArtist = artist.favorite_artists.count %>
          <% else %>
            <% lastFavoriteArtist = artist.favorite_artists.count %> 
            <div class="shadow_box">         
              <%= image_tag artist.image_id.to_s %>
            </div>           
            <br>
            <br>
            <% if j == 1 %>
              <span class="best1_label">BEST <%= j %></span>
            <% elsif j == 2 %>
              <span class="best2_label">BEST <%= j %></span>
            <% else %>
              <span class="best3_label">BEST <%= j %></span>
            <% end %>
            <br>
            <br>
            <strong><%= link_to artist.name, front_artist_path(artist.id) %></strong>
            <br>
            お気に入り数：<%= artist.favorite_artists.count %>
          <% end %>
          <br>
        </div>
      </div>
      <% end %>

    <div class="ribbon_wrapper">
      <div class="ribbon_content">
      <span class="ribbon">NEW</span>
      </div>
      <strong>New ARTIST</strong><p>　注目の新着アーティスト</p>
      <div id="new_artists">
        <%= render :partial => "new_artists" %>
      </div>
    </div>
    <br>
    <br>

    <h3 class="artist_list_label">
      <i class="fas fa-star fa_small"></i>
      <i class="fas fa-star fa_small"></i>
      <i class="fas fa-star fa_small"></i>
      &nbsp; ARTIST List &nbsp;
      <i class="fas fa-star fa_small"></i>
      <i class="fas fa-star fa_small"></i>
      <i class="fas fa-star fa_small"></i>
    </h3>
    <div id="artists">
      <%= render :partial => "artists" %>
    </div>
  </div>
</div>