<br>
<div align="center">
  <div class="flex">
    <div class="shadow_box">
      <%= image_tag @artist.image_id.to_s %>
    </div>
    <div class="artist_label">
      <label class="btn btn_artistname btn-lg"><span><%= @artist.name %></span></label>
    <br>
    <span class="artist_<%= @artist.id %>">
      <%= render 'front/artists/favorite', artist: @artist, locals: {artist: @artist} %>
    </span>
    &nbsp; since <%= @artist.formation_yeah %>~
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="content_border">
    <br>
    <br>
    <div class="detail_space">
      <%= @artist.detail %>
    </div>
    <br>
    <a href="/front/communities/<%= @artist.id %>" class="btn btn_detail"><span><%= @artist.name %>のコミュニティページ</span></a>
    <br>
    <div align="left">
      <h5 class="artistshow_songlist"><span>SONG List</span></h5>
    </div>
    <% @artist.songs.each do |song| %>
      <div class="flex">
        <div class="new_artist_box">
          <div class="new_shadow_box">
            <%= image_tag song.image_id.to_s, :size => "150x150" %>
          </div>
          <br>
          <p class="new_artist_name"><%= link_to song.name, front_song_path(song.id) %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>