<div align="center">
  <h3>楽曲一覧</h3>
<%= form_with(url: search_public_songs_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "楽曲を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents">
  <div class="row"></div>
</div>

  <% @songs.each do |song| %>
  <% if song.is_active == true %>
    <div class="flex">
    <div class="artist_box">
      <div class="shadow_box">
      <%= image_tag song.image_id.to_s %>
    </div>
    <br>
    <%= song.name %>
    <br>
    <a href="/public/songs/<%= song.id %>" class="btn btn-gradient"><span>VIEW MORE</span></a>
    </div>
    </div>
  <% end %>
  <% end %>

</div>