<br>
<div align="center">
  <div class="flex">
    <div class="shadow_box">
      <%= image_tag @song.image_id.to_s %>
    </div>
    <div class="artist_label">
      <label class="btn btn_songname btn-lg"><span><%= @song.name %></span></label>
	  <br>
    <span class="song_<%= @song.id %>">
      <%= render 'public/songs/favorite', song: @song, locals: {song: @song} %>
    </span>
    &nbsp; <%= @song.sale_year %> release
    <br>
    <br>

    <!-- 再生プレイヤー -->
    <div>
      <% if @song.id == 1 %>
        <%= audio_tag 'pastel.mp3' %>
      <% elsif @song.id == 2 %>
        <%= audio_tag 'Morning.mp3' %>
      <% else %>
        <%= audio_tag 'Cat_life.mp3' %>
      <% end %>

    <!-- audiojsの初期化 -->
      <script>
        audiojs.events.ready(function() {
          var as = audiojs.createAll();
        });
      </script>
    </div>

	  </div>
  </div>
  <br>
  <br>
  <br>

  <div class="content_border">
    <br>
    <br>
    <div class="detail_space">
      <%= @song.detail %>
    </div>
    <br>
    <a href="/public/artists/<%= @artist.id %>" class="btn btn_detail"><span><%= @artist.name %>について詳しく見る</span></a>
    <br>
    <br>
    <div align="left">
      <h5 class="artistshow_songlist"><span>Other SONG</span></h5>
    </div>
    <% @artist.songs.each do |song| %>
      <div class="flex">
        <div class="new_artist_box">
          <div class="new_shadow_box">
            <%= image_tag song.image_id.to_s, :size => "150x150" %>
          </div>
          <br>
          <p class="new_artist_name"><%= link_to song.name, public_song_path(song.id) %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>