<div class="row">

  <div class="sidebar col-md-3">
    <div class="content_border">
      <h6 class="blog_headline">Blog投稿</h6>
     <%= form_for @blog, url: public_blogs_path do |f| %>
        <h6 class="pt-2">Title</h6>
          <%= f.text_field :title, class: "btn-block" %>
        <h6 class="pt-2 pb-2">Picture</h6>
          <label>
            <span class="file_select">
              ファイルを選択する
            </span>
            <%= f.file_field :image_id, accept: 'image/jpeg,image/gif,image/png', class: "hidden_imageform" %>
          </label>
        <h6 class="pt-2">Content</h6>
          <%= f.text_area :content, class: "btn-block" %><br>
        <%= f.submit 'Create Blog', class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>

  <div class="main col-md-9">
    <div class="content_border">
      <% @blogs.each do |blog| %>
      <% if @customer.image_id? %>
      <div class="flex_blog">
        <%= image_tag @customer.image_id.url, :size => '70x70', class: 'icon' %>
      <% else %>
        <%= image_tag "/assets/noimage.jpg", :size => '70x70', class: 'icon' %>
      <% end %>
      <h5><%= blog.title %></h5>
      <%= link_to "編集", public_blogs_path(blog.id) %>
      <%= link_to "　削除", public_blog_path(id: blog.id), method: :delete %>
    </div>
      <%= image_tag blog.image_id.url, :size => '300x300' %>
      <%= blog.content %>
      <% end %>
    </div>
  </div>
</div>