<div class="row">
  <div class="sidebar col-md-3">
    <div class="content_border">
      <h6 class="blog_headline">Blog投稿</h6>
     <%= form_for @blog, url: public_blogs_path do |f| %>
        <h6 class="pt-2">Title</h6>
          <%= f.text_field :title, class: "btn-block" %>
        <h6 class="pt-2 pb-2">Picture</h6>
          <label>
            <span class="file_select">
              ファイルを選択する
            </span>
            <%= f.file_field :image_id, accept: 'image/jpeg,image/gif,image/png', class: "hidden_imageform" %>
          </label>
        <h6 class="pt-2">Content</h6>
          <%= f.text_area :content, class: "btn-block" %><br>
        <%= f.datetime_select :start_time %>
        <%= f.submit 'Create Blog', class: "btn btn-primary btn-block" %>
      <% end %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>
  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title %>
    </div>
  <% end %>
<% end %>

    </div>
  </div>

  <div class="main col-md-9">
    <div class="content_border">
      <% @blogs.each do |blog| %>
      <div class="blog_<%= blog.id %>">
        <% if @customer.image_id? %>
        <div class="flex_blog">
          <%= image_tag @customer.image_id.url, :size => '70x70', class: 'icon' %>
        <% else %>
          <%= image_tag "/assets/noimage.jpg", :size => '70x70', class: 'icon' %>
        <% end %>
        <h5><strong><%= blog.title %></strong></h5>
        <span class="blog_datetime">
          <%= blog.updated_at.strftime("%Y-%m-%d %H:%M") %>
        </span>  
        <span>
          <%= link_to "編集", edit_public_blog_path(blog.id), remote: true, class: 'btn_blogedit', :style => "color: white;" "text-decoration: none;" %>
        </span> 
        <span>     
          <%= link_to "削除", public_blog_path(id: blog.id), method: :delete, class: 'btn_blogdelete', :style => "color: white;" "text-decoration: none;" %>
        </span>
        </div>
        <br>
        <%= image_tag blog.image_id.url, :size => '320x300' %>
        <span class="blog_content">
          <%= blog.content %>
        </span>
      </div>
      <br><br>
      <% end %>
    </div>
  </div>
</div>