<div class="chat">
  <% div_class = chat.customer.id == current_customer.id.presence ? 'is_right' : 'is_left' %>
  <div class="<%= div_class %>">
    <span><%= chat.updated_at.strftime("%m/%d %H:%M") %></span>
    <p class="chat_message"><%= chat.message %></p>
    <div class="flex">
      <div>
        <% if chat.customer.image_id? %>
          <%= image_tag chat.customer.image_id.url, :size => '80x80', class: 'icon' %>
        <% else %>
          <%= image_tag "noimage", :size => '80x80', class: 'icon' %>
        <% end %>
      </div>
      <div class="chat_customer"><%= link_to chat.customer.nickname, front_customer_path(chat.customer.id) %></div>
    </div>
  </div>
</div>
<br>