  <div align="center">
  <div class="heart">&#9829;</div>
  <h3>あなたの「好き」を形にしよう。</h3>
  <br>
  <br>

  <section class="fadein">
    <h2 class="about_headline_blue">Artist ＆ Song</h2>
    <br>

    アーティストと楽曲ページでは、ランキング形式で注目されているコンテンツがひと目で分かります。<br>
    音楽は最高音質での配信。名曲から最新曲まで、さまざまなジャンルを取り揃えており、検索機能も充実しています。<br>
    <br>

    <div class="flex">
      <%= image_tag "sample_ranking", :size => '400x250' %>
      <%= image_tag "sample_newcontent", :size => '420x250' %>
    </div>
    <br>
    <div class="flex">
      <%= image_tag "sample_search", :size => '400x240' %>&ensp;
      <%= image_tag "sample_song", :size => '410x240' %>
    </div>
  </section>
  <br>
  <br>
  <Br>

  <section class="fadein">
    <h2 class="about_headline_yellow">Community</h2>
    <br>

    コミュニティページでは、チャット形式であなたが好きなアーティストのファン同士で交流ができます。<br>
    メディアやライブ情報など、なんでもリアルタイムで共有が可能となっています。<br>
    <br>

    <div class="flex">
      <%= image_tag "sample_ranking", :size => '400x250' %>
      <%= image_tag "sample_newcontent", :size => '420x250' %>
    </div>
  </section>

  <br>
  <br>
  <br>

  <section class="fadein">
    <h2 class="about_headline_green">Blog</h2>
    <br>

    ブログページでは、あなたのライブなどの想い出を日記形式で残すことができます。<br>
    投稿はカレンダーと連携されており、その日何があったかひと目で分かるようになっています。<br>
    <br>

    <div class="flex">
      <%= image_tag "sample_blog", :size => '400x250' %>
      <%= image_tag "sample_calendar", :size => '400x250' %>
    </div>
  </section>
  <br>
  <br>
  <br>

  <section class="fadein">
    <h2 class="about_headline_purple">Mypage</h2>
    <br>

    マイページでは、登録情報の変更やフォローフォロワーの確認、お気に入り登録した<br>
    アーティストや楽曲の一覧が表示でき、とても管理しやすく便利な機能が揃っています。<br>
    <br>

    <div class="flex">
      <%= image_tag "sample_mypage", :size => '400x250' %>
      <%= image_tag "sample_change", :size => '400x250' %>
    </div>
    <br>
    <div class="flex">
      <%= image_tag "sample_follow", :size => '400x250' %>
      <%= image_tag "sample_favorite", :size => '400x250' %>
    </div>
  </section>
  <br>
  <br>
  <br>

  <h3 class="about_welcome">
    全コンテンツ無料で、今すぐご利用いただけます。
  </h3>

  <br>
  <%= link_to "Signup", new_customer_registration_path, class: "btn btn--blue btn--radius btn--cubic" %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Login", customer_session_path, class: "btn btn--orange btn--radius btn--cubic" %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Guest(閲覧用)', front_guest_sign_in_path, method: :post, class: "btn btn--green btn--radius btn--cubic" %>
  </div>
  <br>
  <br>