<div class="content_border">
  <br>
  <h2 class="text-center">Customer Info</h2>
    <%= form_for @customer, url: front_customer_path(@customer.id) do |f| %>

    <% if @customer.errors.any? %>
      <div id="error">
        <h3 class="valid_error"><span><%= @customer.errors.count %>つのエラーが発生した為、登録に失敗しました</span></h3>
      </div>
    <% end %>

    <div align="center">
      <table>
        <tbody>
          <tr>
            <% if @customer.image_id? %>
              <%= image_tag @customer.image_id.url, :size => '100x100', class: 'icon' %>
            <% else %>
              <%= image_tag "noimage", :size => '100x100', class: 'icon' %>
            <% end %>
            &emsp;
            <button type="button" class="btn rounded-pill">
              &emsp;<%= f.file_field :image_id, accept: 'image/jpeg,image/gif,image/png' %>
            </button>
          </tr>
          <br>
          <br>

          <tr>
            <td>　　　　名前(姓/名)</td>
            <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
              <% if @customer.errors.include?(:last_name) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:last_name).first %>
              <% end %>
            </td>
            <td>
              <%= f.text_field :first_name, autocomplete: "first_name" %>
              <% if @customer.errors.include?(:first_name) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:first_name).first %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>　　　　フリガナ(セイ/メイ)</td>
            <td>
              <%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %>
              <% if @customer.errors.include?(:last_name_kana) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:last_name_kana).first %>
              <% end %>
            </td>
            <td>
              <%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %>
              <% if @customer.errors.include?(:first_name_kana) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:first_name_kana).first %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td><%= f.label :email, "　　　　メールアドレス" %></td>
            <td>
              <%= f.email_field :email, autocomplete: "email" %>
              <% if @customer.errors.include?(:email) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:email).first %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td><%= f.label :nickname, "　　　　ニックネーム" %></td>
            <td>
              <%= f.text_field :nickname, autocomplete: "nickname" %>
              <% if @customer.errors.include?(:nickname) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:nickname).first %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td><%= f.label :password, "　　　　パスワード(6文字以上)" %></td>
            <td>
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @customer.errors.include?(:password) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:password).first %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td><%= f.label :password_confirmation,"　　　　パスワード(確認用)" %></td>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              <% if @customer.errors.include?(:password_confirmation) %>
                <p style="color: red;"><%= @customer.errors.full_messages_for(:password_confirmation).first %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
      <p class="form_attention text-center"><small>
        名前、メールアドレス等の個人情報は非公開ですが、ニックネームはネットワーク上で<br>
        公開されるものなので個人情報を特定されやすいものや、公序良俗に反するものはお控<br>
        えください。詳しくはガイドラインをお読みください。</small></p>
    <br>
      <div class="actions text-center">
        <%= f.submit "変更する" %>
      </div>
    <% end %>
    <br>
</div>
