<div align="center">
  <%= form_with(url: search_front_songs_path, local: true, method: :get, class: "search-form") do |f| %>
    <%= f.text_field :keyword, placeholder: "楽曲を検索する", class: "search-input", :size => "20" %>
    <%= button_tag type: :submit, class: "search_btn" do %>
      <%= image_tag "search.png" %>
    <% end %>
  <% end %>

  <div class="content2s">
    <div class="row"></div>
  </div>
  <br>

  <div class="flex">
    <%= link_to "JPOP", '/front/songs?genre_id=1', class: 'genre1_link', :style=>"color: #333333; text-decoration: none;" %>
    <%= link_to "洋楽", '/front/songs?genre_id=2', class: 'genre2_link', :style=>"color: #333333; text-decoration: none;" %>
    <%= link_to "ロック", '/front/songs?genre_id=3', class: 'genre3_link', :style=>"color: #333333; text-decoration: none;" %>
    <%= link_to "EDM", '/front/songs?genre_id=4', class: 'genre4_link', :style=>"color: #333333; text-decoration: none;" %>
    <%= link_to "レゲエ", '/front/songs?genre_id=5', class: 'genre5_link', :style=>"color: #333333; text-decoration: none;" %>
    <%= link_to "アニメソング", '/front/songs?genre_id=6', class: 'genre6_link', :style=>"color: #333333; text-decoration: none;" %>
    <%= link_to "ゲームソング", '/front/songs?genre_id=7', class: 'genre7_link', :style=>"color: #333333; text-decoration: none;" %>
  </div>
  <br>
  <br>

  <div class="content_border">

    <h3 class="ranking_label"><span>Best SONG Ranking</span></h3>
      <% lastFavoriteSong = 0 %>
      <% j = 1 %>
      <% @all_ranks.each.with_index(1) do |song, i| %>
      <div class="flex">
        <div class="artist_box">
          <% if i == 1 %>
            <% lastFavoriteSong = song.favorite_songs.count %>
          <% end %>
          <% if song.favorite_songs.count != lastFavoriteSong %>
            <% j = i %>
            <div class="shadow_box">          
              <%= image_tag song.image_id.to_s %>
            </div>
            <br>
            <br>

            <% if j == 1 %>
              <span class="best1_label">BEST <%= j %></span>
            <% elsif j == 2 %>
              <span class="best2_label">BEST <%= j %></span>
            <% else %>
              <span class="best3_label">BEST <%= j %></span>
            <% end %>
            <br>
            <br>

            <strong><%= link_to song.name, front_song_path(song.id) %></strong>
            <br>
            お気に入り数：<%= song.favorite_songs.count %>
            <% lastFavoriteSong = song.favorite_songs.count %>
          <% else %>
            <% lastFavoriteSong = song.favorite_songs.count %> 
            <div class="shadow_box">         
              <%= image_tag song.image_id.to_s %>
            </div>           
            <br>
            <br>

            <% if j == 1 %>
              <span class="best1_label">BEST <%= j %></span>
            <% elsif j == 2 %>
              <span class="best2_label">BEST <%= j %></span>
            <% else %>
              <span class="best3_label">BEST <%= j %></span>
            <% end %>
            <br>
            <br>

            <strong><%= link_to song.name, front_song_path(song.id) %></strong>
            <br>
            お気に入り数：<%= song.favorite_songs.count %>
          <% end %>
          <br>
        </div>
      </div>
      <% end %>

    <div class="ribbon_wrapper">
      <div class="ribbon_content">
      <span class="ribbon">NEW</span>
      </div>

      <strong>New SONG</strong><p>注目の新着楽曲</p>
      <div id="new_songs">
        <%= render :partial => "new_songs" %>
      </div>
    </div>
    <br>
    <br>

    <h3 class="artist_list_label">
      <i class="fas fa-star fa_small"></i>
      <i class="fas fa-star fa_small"></i>
      <i class="fas fa-star fa_small"></i>
      &nbsp; SONG List &nbsp;
      <i class="fas fa-star fa_small"></i>
      <i class="fas fa-star fa_small"></i>
      <i class="fas fa-star fa_small"></i>
    </h3>

    <div id="songs">
      <%= render :partial => "songs" %>
    </div>

</div>
